.nav-bar.right
  %ul.button-group
    %li
      =link_to t('.root'),root_path
    %li
      %a.button{:href => "#"} Link 2
    %li
      %a.button{:href => "#"} Link 3
    %li
      %a.button{:href => "#"} Link 4