$danger-color: #f00;
$dark-danger-color: darken($danger-color, 30%);
$light-danger-color: lighten($danger-color, 30%);

$success-color: #0f0;
$dark-success-color: darken($success-color, 30%);
$light-success-color: lighten($success-color, 30%);

$warning-color: #ff0;
$dark-warning-color: darken($warning-color, 30%);
$light-warning-color: lighten($warning-color, 30%);


$gray-color: #dcdcdc;
$darkgray-color: #262626;
$default-font-color: #222222;
$default-background-color: #ffffff;
$default-dark-background-color: darken($default-background-color, 10%); 

$small-size: 0.4em;